.home-page {
  color: white;
  background-color: #141414;
}

.hero-section {
  height: 400px;
}

.recommended {
  width: 100%;
  padding: 1rem;
}

.recommended-section {
  display: flex;
}

.view h2 {
  margin: 0 0 0 0.5rem; /* Remove default margin */
  font-weight: 1000;
  color: white;
}

.view-all {
  display: flex;
  width: 150px;
  align-items: center; /* Align text and icon */
  justify-content: center;

  .icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .icon {
      font-size: 30px; /* Initial icon size */
      transition: transform 0.3s ease, font-size 0.3s ease;
    }

    /* Enlarge the icon on hover */
    &:hover .icon {
      transform: scale(1.5); /* Increase size on hover */
    }

    /* The overlay text */
    .overlay-text {
      position: absolute;
      bottom: -30px; /* Position below the icon */
      color: white;
      font-size: 0.8rem;
      opacity: 0;
      white-space: nowrap;
      transition: opacity 0.3s ease;
      pointer-events: none; /* Text won't interfere with the link */
    }

    /* Show the overlay text on hover */
    &:hover .overlay-text {
      opacity: 1;
    }
  }
}

.carousel-item img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover img {
  transform: scale(1.05);
}

.scrollable-row {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to next row */
  max-height: 800px; /* Limit height for three rows of items */
  overflow-y: hidden; /* Allow scrolling if necessary */
  padding: 10px 0 4px; /* Add padding to the top and left */
}

.poster-item {
  margin: 10px; /* Space between items */
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.poster-item img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease, box-shadow 0.5s ease;
}

.poster-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.7s ease;
  box-shadow: 2px 1px 6px cornsilk; /* Add shadow effect */
}
