.row {
  padding: 1rem;
  background-color: rgb(16, 16, 16);

  h2 {
    margin: 0.3rem;
    font-weight: 1000;
    color: white;
  }

  .row-content {
    display: flex;
    overflow-x: auto;
    padding: 8px 0;
    position: relative; /* To ensure that child elements are positioned correctly */
    scroll-behavior: smooth;
  }

  .card-container {
    position: relative;
    margin: 0.5rem;
    padding: 2px;
    .card {
      width: 150px;
      height: 200px;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        position: relative;
        transform: scale(1.1); /* Scale the image on hover */
        box-shadow: 2px 1px 6px cornsilk; /* Add shadow effect */
      }
    }
  }
}
